@font-face {
  font-family: "TT Lakes";
  src: url(/index.css/Шрифты/TTLakes-Medium.woff);
}

.body {
  margin: 0;
}

.sidebar {
  width: 320px;
  height: 100vh;
  filter: drop-shadow(16px 0 52px rgba(14, 24, 80, 0.2));
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  background-color: #ffffff;
  padding-left: 24px;
  padding-top: 23px;
  padding-right: 24px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: none;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
}

.sidebar__button {
    background-color: #ffffff;
    border: none;
    box-sizing: border-box;
}

.sidebar__img {
    width: 40px;
    height: 40px;
}

.sidebar__img:hover {
  scale: 130%;
  transition: 0.3s;
}

.sidebar-header__logo {
  position: absolute;
  left: 100px;
  top: 18px;
}

.sidebar-nav {
  margin-top: 57px;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar__link {
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  text-decoration: none;
  display: inline-block;
}

.sidebar__link:hover {
  transition: 0.3s;
  scale: 105%;
}

.sidebar__link--state--active {
  color: rgba(126, 126, 130, 1);
}

.sidebar__link--state--active:before {
  display: block;
  content: " ";
  width: 4px;
  height: 32px;
  background-color: rgba(65, 246, 215, 1);
  border-radius: 0 50% 50% 0;
  position: relative;
  left: -24px;
  top: 26px;
  color: rgba(126, 126, 130, 1);
}

.sidebar-footer {
    margin-top: auto;
}

.sidebar-communicates {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.sidebar-connect {
  margin-bottom: 16px;
  display: flex;
  gap: 8%;
}

.sidebar-communicates__email {
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  text-decoration: none;
  margin-bottom: 12px;
  display: inline-block;
}

.sidebar-communicates__email:hover {
  scale: 105%;
  transition: 0.3s;
}

.sidebar-communicates__tel {
  font-family: TT Lakes;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  text-decoration: none;
  display: inline-block;
}

.sidebar-communicates__tel:hover {
  scale: 105%;
  transition: 0.3s;
}

.sidebar-langs {
  gap: 7px;
}

.sidebar-langs__language {
  display: none;
  margin-right: 2%;
}

.sidebar-langs__name {
    display: inline-block;
}

.sidebar-langs__name:hover {
  scale: 105%;
  transition: 0.3s;
}
