@font-face {
  font-family: "TT Lakes";
  src: url(/index.css/Шрифты/TTLakes-Medium.woff);
}

.body {
  margin: 0;
}

.sidebar {
  width: 320px;
  min-height: 100vh;
  filter: drop-shadow(16px 0 52px rgba(14, 24, 80, 0.2));
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  background-color: #ffffff;
  padding-left: 24px;
  padding-top: 23px;
  padding-right: 24px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: none;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
}

.sidebar__button {
    background-color: #ffffff;
    border: none;
    box-sizing: border-box;
}

.sidebar__img {
    width: 40px;
    height: 40px;
}

.sidebar__img:hover {
  scale: 130%;
  transition: 0.3s;
}

.sidebar-header__logo {
  position: absolute;
  left: 100px;
  top: 18px;
}

.sidebar-nav {
  margin-top: 57px;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar__link {
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  text-decoration: none;
  display: inline-block;
}

.sidebar__link:hover {
  transition: 0.3s;
  scale: 105%;
}

.sidebar__link--state--active {
  color: rgba(126, 126, 130, 1);
}

.sidebar__link--state--active:before {
  display: block;
  content: " ";
  width: 4px;
  height: 32px;
  background-color: rgba(65, 246, 215, 1);
  border-radius: 0 50% 50% 0;
  position: relative;
  left: -24px;
  top: 26px;
  color: rgba(126, 126, 130, 1);
}

.sidebar-footer {
    margin-top: auto;
}

.sidebar-communicates {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.sidebar-connect {
  margin-bottom: 16px;
  display: flex;
  gap: 8%;
}

.sidebar-communicates__email {
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  text-decoration: none;
  margin-bottom: 12px;
  display: inline-block;
}

.sidebar-communicates__email:hover {
  scale: 105%;
  transition: 0.3s;
}

.sidebar-communicates__tel {
  font-family: TT Lakes;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  text-decoration: none;
  display: inline-block;
}

.sidebar-communicates__tel:hover {
  scale: 105%;
  transition: 0.3s;
}

.sidebar-langs {
  gap: 7px;
}

.sidebar-langs__language {
  display: none;
  margin-right: 2%;
}

.sidebar-langs__name {
    display: inline-block;
}

.sidebar-langs__name:hover {
  scale: 105%;
  transition: 0.3s;
}







.content {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(248, 248, 248, 1);
  font-family: TT Lakes;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(217, 255, 245, 1);
  padding-left: 16px;
  padding-right: 16px;
}

.content-button {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  box-sizing: border-box;
  padding: 0;
}

.content-button__img {
  width: 40px;
  height: 40px;
}

.content-home {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  box-sizing: border-box;
  padding: 0;
}

.content-home__logo {
  width: 96px;
  height: 50px;
}

.divider {
  width: 2px;
  height: 32px;
}

.divider--visibility--hidden {
  display: none;
}

.content-button__name {
  display: none;
}

.content-button--visibility--hidden {
  display: none;
}

.content-section__name {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  display: flex;
  margin-left: 16px;
  margin-bottom: 0;
  margin-top: 0;
}

.content-section__name::before{
  content: " ";
  display: flex;
  width: 4px;
  height: 40px;
  background-color: rgba(65, 246, 215, 1);
  position: relative;
  border-radius: 0 50% 50% 0;
  position: relative;
  left: -16px;
  top: 0px;
}

.content-button--hidden {
  display: none;
}

.content-url {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  scrollbar-width: none;
  margin-left: 16px;
}

.content-link {
  color: rgba(126, 126, 130, 1);
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 8px 16px;
  height: 40px;
  box-sizing: border-box;
  white-space: nowrap;
}

.content-link--active {
  border: 2px solid rgba(184, 255, 236, 1);
  border-radius: 9%;
}

.content-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  gap: 16px;
}

.content-article {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-article__text {
  overflow: hidden;
  height: 90px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.content-button__expand {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-color: rgba(248, 248, 248, 1);
  border: none;
  display: flex;
  padding: 0;
  margin-left: 16px;
}

.content-button__expand::before {
  content: " ";
  display: flex;
  width: 24px;
  height: 24px;
  content: url(./content-expand.png);
  position: relative;
  margin-right: 8px;
}

.content-main__img {
  width: 100vw;
}

@media (min-width: 768px) {

  .content {
    line-height: 20px;
  }

  .content-header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .content-button--visibility--hidden {
    display: flex;
  } 

  .divider--visibility--hidden {
    display: flex;
  }

  .content-home {
    margin-right: 150px;
  }

  .content-post {
    flex-direction: row;
    gap: 48px;
    margin-left: 24px;
    margin-right: 48px;
    margin-bottom: 5%;
}

.content-article {
  gap: 0;
  gap: 10px;
}

.content-article__text {
  height: 160px;
  margin-left: 0;
  margin-right: 0;
}

.content-button__expand {
  margin-left: 0;
  margin-bottom: auto;
}

  .content-img {
    position: relative;
  }

  .content-main__img {
    width: 46vw;
  }

}

@media (min-width: 1120px) {

  .content-header {
    display: none;
  }

.content-section {
  display: flex;
  flex-direction: row;
}

  .content-section__name {
    margin-top: 3.7%;
    margin-right: auto;
  }

  .content-button--hidden {
  display: flex;
  flex-direction: row;
  margin-top: 3.7%;
  align-items: center;
  background-color: rgba(248, 248, 248, 1);
  gap: 8px;
  margin-right: 24px;
}

  .content-button__name {
    display: flex;
    font-family: TT Lakes;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: right;
  }

  .content-url {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content-post {
    margin-bottom: 4.5%;
    gap: 36px;
  }

  .content-article {
    gap: 14px;
    margin-top: 9px;
  }

  .content-article__text {
    height: 160px;
  }

  .content-main__img {
    width: 47vw;
  }

}